@import "./globals.scss";

#page-wrapper {
    width: 60%;
    margin: auto;

}




.product-container {

    margin: 2rem auto;
    max-width: calc(100% - 80px);


    .product-card-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));
        gap: 2rem;



        .card {

            background-color: white;


            .product-item-image {
                margin: 0;
                padding: 0;
                overflow: hidden;




                img {
                    width: 800px;
                    height: 300px;
                    object-fit: cover;


                }
            }

            .product-info-content {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 1rem;
                padding: 1rem;


            }
        }

    }





}


.login-wrapper {
    height: 90vh;
    display: grid;
    place-content: center;

}

.user-selection {


    h1 {
        font-size: 2.2rem;
        border-bottom: solid 1px black;
    }

    .user-list-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;
        font-size: 1.6rem;
        border-bottom: solid 1px black;

        div {
            display: grid;
            grid-template-columns: repeat(3, minmax(100px, 1fr));
            gap: 2.5rem;

            span:nth-child(2) {
                // funker ikke idk why
                place-self: end;
            }
        }
    }

}


button {
    font-weight: 700;
    background-color: #ff0055;
    border: none;
    font-size: 1.5rem;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    margin-right: 5px;

}

h2 {
    font-size: 2.2rem;
}

#user-info {
    position: fixed;
    display: flex;
    top: 25px;
    right: 25px;
    gap: 1rem;
    font-size: 1.4rem;
    color: white;
    box-shadow: 0 3px 6px rgb(0, 0, 0, 0.1);
    font-weight: bold;
    padding: 1rem 2rem;
    border-radius: 6px;
    background-color: #ff0055
}



p {
    font-size: 1.6rem;
}

.form-wrapper {
    display: grid;
    height: 90vh;
    place-content: center;

    form.create-product-form {
        display: grid;
        grid-template-columns: row;
        gap: 1rem;




        input {
            width: 300px;
            padding: 0.6rem 1rem;
            border-radius: 6px;
            font-size: 1.6rem;
            border: 1px solid black;

            &:placeholder {
                filter: contrast(1.2);
            }
        }

        button {
            width: 40%;

            &:disabled {
                opacity: 0.5;
                cursor: not-allowed;
            }
        }
    }


    .error {
        font-weight: 700;
        font-size: 1.6rem;
        color: red;

    }

    .success {

        font-weight: 700;
        font-size: 1.6rem;
        color: green;
    }
}